<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lushen.mrh.example.seata.dao.mapper.SeataOneMapper">
	
	<resultMap id="BaseResultMap" type="org.lushen.mrh.example.seata.dao.model.SeataOne">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, name
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from seata_one where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from seata_one where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="org.lushen.mrh.example.seata.dao.model.SeataOne">
		insert into seata_one (id, name) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="org.lushen.mrh.example.seata.dao.model.SeataOne">
		update seata_one set name = #{name,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>