<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lushen.mrh.shardingsphere.test.dao.mapper.TUserMapper">
	
	<resultMap id="BaseResultMap" type="org.lushen.mrh.shardingsphere.test.dao.model.TUser">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		user_id, name
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from t_user where user_id = #{userId,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_user where user_id = #{userId,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="org.lushen.mrh.shardingsphere.test.dao.model.TUser">
		insert into t_user (user_id, name) values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="org.lushen.mrh.shardingsphere.test.dao.model.TUser">
		update t_user set name = #{name,jdbcType=VARCHAR} where user_id = #{userId,jdbcType=INTEGER}
	</update>

</mapper>